<html>
    <body>
        <form method="post"> 
            <table>
                    <tr>
                            <td> StudentName: </td>
                            <td>
                                <input type="text" placeholder="Enter your name " name="std_name" value="<%= db_rows_array[0].std_name %>" required ></td></br>
                            </td>
                        </tr>
                    <tr>
                            <td> Studentphone: </td>
                            <td>
                                <input type="text" placeholder="Enter your phone number " name="std_phone_no"  value="<%= db_rows_array[0].std_phone_no %>" required ></td></br>
                            </td>
                    </tr>
                    <tr>
                            <td> StudentEmail: </td>
                            <td>
                                <input type="email" placeholder="Enter your Email " name="std_email"  value="<%= db_rows_array[0].std_emai %>" required ></td></br>
                            </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit">
                            <input type="button" value="Display" onclick="window.location='display' "> 
                        </td>
                    </tr>
        
            </table>
        </form>
    </body>
</html>