<html>
    <body>
        <form>
            <table>
                <tbody>
                    <tr>
                        <th>studentId</th>
                        <td>:</td>
                        <td><%= db_rows_array[0].std_id %></td>
                    </tr>
                    <tr>
                            <th>studentName</th>
                            <td>:</td>
                            <td><%= db_rows_array[0].std_name %></td>
                    </tr>
                    <tr>
                            <th>studentPhone</th>
                            <td>:</td>
                            <td><%= db_rows_array[0].std_phone_no %></td>
                    </tr>
                    <tr>
                            <th>studentEmail</th>
                            <td>:</td>
                            <td><%= db_rows_array[0].std_email %></td>
                    </tr>

                </tbody>
            </table>
        </form>
    </body>
</html>